:root {
  --font-family-main: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #000;
  --text-gray: #00000099;
  --background-black: #000;
  --background-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-main);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.app {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 78px;
}

.header__top {
  height: 34px;
  padding: 5px 20px;
  background-color: var(--background-black);

  & .splide__slide {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--background-black);
  }

  & .splide__slide:nth-child(2) {
    justify-content: right;
  }

  & .splide__slide span {
    font-size: 1.4rem;
    color: var(--text-white);
  }
}

.header__bottom {
  height: calc(100% - 34px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-white);

  & h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--text-black);
    text-align: center;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .header__top {
    .splide__slide {
      justify-content: center;
    }

    .splide__arrow {
      color: #fff;
      background-color: transparent !important;
    }
    .splide__arrow--prev {
      left: -10px;
    }
    .splide__arrow--next {
      right: -10px;
    }
  }
}

@media (max-width: 360px) {
  .header__top {
    .splide__arrow--prev {
      left: -20px;
    }
    .splide__arrow--next {
      right: -20px;
    }
  }
}
